@import "tailwindcss";

a:hover{
    color: blue;
}

.common_heading{
    color: red;
}

@theme inline {
    --font-roboto: var(--font-roboto);
    --font-work: var(--font-work-sans);
    --font-roboto-w: var(--font-roboto-weight);
}

.loading-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}